<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body style="background:#eee">
	<div style="width:650px; background:#fff;">
    	<div class="clear" style="border-bottom:1px solid #ebebeb; padding:8px 18px;">
        	<span style="font-size:18px;">待办事项</span>
            <a href="javascript:void(0);" style="color:#48b0ef; margin:4px auto; font-size:14px; float:right;">全部</a>
        </div>
        <div style="padding:20px; font-size:14px;">
        	<div style="display:inline-block; width:200px; vertical-align:middle; height:110px;"><span style="display:inline-block; text-align:right; color:#009fec; font-size:64px; width:80px; padding-right:5px; font-family:Arial, Helvetica, sans-serif">10</span><p style=" width:100px; display:inline-block;">条合作伙伴注销需要审核</p></div>
            <div style="display:inline-block; width:200px; vertical-align:middle; height:110px;"><span style="display:inline-block; text-align:right; color:#009fec; font-size:48px; width:80px; padding-right:5px; font-family:Arial, Helvetica, sans-serif">7</span><p style=" width:100px; display:inline-block;">条合作伙伴注销需要审核</p></div>
            <div style="display:inline-block; width:200px; vertical-align:middle; height:110px;"><span style="display:inline-block; text-align:right; color:#009fec; font-size:48px; width:80px; padding-right:5px; font-family:Arial, Helvetica, sans-serif">10</span><p style=" width:100px; display:inline-block;">条合作伙伴注销需要审核</p></div>
            <div style="display:inline-block; width:200px; vertical-align:middle; height:110px;"><span style="display:inline-block; text-align:right; color:#009fec; font-size:48px; width:80px; padding-right:5px; font-family:Arial, Helvetica, sans-serif">10</span><p style=" width:100px; display:inline-block;">条合作伙伴注销需要审核</p></div>
            <div style="display:inline-block; width:200px; vertical-align:middle; height:110px;"><span style="display:inline-block; text-align:right; color:#009fec; font-size:48px; width:80px; padding-right:5px; font-family:Arial, Helvetica, sans-serif">10</span><p style=" width:100px; display:inline-block;">条合作伙伴注销需要审核</p></div>
            <div style="display:inline-block; width:200px; vertical-align:middle; height:110px;"><span style="display:inline-block; text-align:right; color:#009fec; font-size:48px; width:80px; padding-right:5px; font-family:Arial, Helvetica, sans-serif">10</span><p style=" width:100px; display:inline-block;">条合作伙伴注销需要审核</p></div>
        </div>
    </div>
</body>
</html>
