<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body style="background:#eee">
	<div style="width:650px; height:250px; background:#fff;">
    	<div class="clear" style="border-bottom:1px solid #ebebeb; padding:8px 18px;">
        	<span style="font-size:18px;">通知公告</span>
            <a href="javascript:void(0);" style="color:#48b0ef; margin:4px auto; font-size:14px; float:right;">全部</a>
        </div>
        <ul style="font-size:14px; padding:10px 0;">
        	<li style="display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding:0 16px; margin:12px;"><a href="javascript:void(0)" style="color:#666; float:left;">关于举办2015年山西省评标专家继续教啊啊啊啊</a><sapn style="float:right; color:#999; font-size:12px;">2015.04.14</span></li>
            <li style="display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding:0 16px; margin:12px;"><a href="javascript:void(0)" style="color:#666; float:left;">关于举办2015年新增选第一期评标</a><sapn style="float:right; color:#999; font-size:12px;">2015.04.14</span></li>
            <li style="display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding:0 16px; margin:12px;"><a href="javascript:void(0)" style="color:#666; float:left;">山西省招标投标协会关于更换、增补的方案</a><sapn style="float:right; color:#999; font-size:12px;">2015.04.14</span></li>
            <li style="display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding:0 16px; margin:12px;"><a href="javascript:void(0)" style="color:#666; float:left;">《全国招标师职业资格考试大纲》</a><sapn style="float:right; color:#999; font-size:12px;">2015.04.14</span></li>
            <li style="display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding:0 16px; margin:12px;"><a href="javascript:void(0)" style="color:#666; float:left;">中招协关于启动2015年招标师继续教育</a><sapn style="float:right; color:#999; font-size:12px;">2015.04.14</span></li>
        </ul>
    </div>
</body>
</html>
