<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" />
<title>Untitled Document</title>
<script type="text/javascript">
	var t_checkbox = function() {
		this._constructor();
	};
	t_checkbox.prototype._constructor = function() {
		this._checked = false;
		this.getChecked = function() {
			return this._checked;
		};
		this._owner = null;
		this.getOwner = function() {
			return this._owner;
		};
		this.setOwner = function(value) {
			this._owner = value;
		};
		this.setChecked = function(value) {
			if (this._checked == value) return;
			this._checked = value;
			if (value) {
				$("#t_checkbox div").addClass("checked");
			} else {
				$("#t_checkbox div").removeClass("checked");
			};
			if (this._data) {
				this._data[this._checkedField] = value;
			};
			if (this._data && this._data.callback) this._data.callback(this._checked);
			$(this).trigger("checkchanged", this._checked);
		};
		this.getTitle = function() {
			return $("#t_checkbox span").html();
		};
		this.setTitle = function(value) {
			if (value && value.length) {
				$("#t_checkbox span").html(value);
				$("#t_checkbox span").show();
			} else {
				$("#t_checkbox span").hide();
			}
		};
		this._checkedField = "checked";
		this.getCheckedField = function() {
			return this._checkedField;
		};
		this.setCheckedField = function(value) {
			this._checkedField = value;
			if (this._data && this._data[value] != undefined) {
				this.setChecked(this._data[value]);
			};
		};
		this._titleField = "title";
		this.getTitleField = function() {
			return this._titleField;
		};
		this.setTitleField = function(value) {
			this._titleField = value;
			if (this._data && this._data[value] != undefined) {
				this.setTitle(this._data[value]);
			};
		};
		this._data = null;
		this.getData = function() {
			return this._data;
		};
		this.setData = function(value) {
			this._data = value;
			if (value && value[this._checkedField] != undefined) {
				this.setChecked(value[this._checkedField]);
			};
			if (value && value[this._titleField] != undefined) {
				this.setTitle(value[this._titleField]);
			};
		};
	};
	var t_ = new t_checkbox();
</script>
</head>

<body>
	<div id="wrapper" style="margin-top:50px;">
    	<a href="javascript:void(0);" id="t_checkbox" class="ste_checkbox"><div class="icon-16 unchecked"></div><span style="display: none;"></span></a>
        <script type="text/javascript">
			if (t_.getChecked()) $("#t_checkbox div").addClass("checked");
			$("#t_checkbox").bind("click", function() {
				t_.setChecked(!t_.getChecked());
			});
		</script>
    </div>
</body>
</html>
