<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script type="text/javascript">
	function autoAddEllipsis(pStr, pLen) { 
		var _ret = cutString(pStr, pLen);
		var _cutFlag = _ret.cutflag;
		var _cutStringn = _ret.cutstring;
	
		if ("1" == _cutFlag) {
			return _cutStringn + "...";
		} else {
			return _cutStringn;
		};
	};
	function cutString(pStr, pLen) { 
		// 原字符串长度
		var _strLen = pStr.length;
		var _tmpCode;
		var _cutString;
		// 默认情况下，返回的字符串是原字符串的一部分 
		var _cutFlag = "1";	
		var _lenCount = 0;	
		var _ret = false;	
		if (_strLen <= pLen/2) { 
			_cutString = pStr; 
			_ret = true; 
		};	
		if (!_ret) { 
			for (var i = 0; i < _strLen ; i++ ) { 
				if (isFull(pStr.charAt(i))) { 
					_lenCount += 2; 
				} else { 
					_lenCount += 1; 
				} 
	
				if (_lenCount > pLen) { 
					_cutString = pStr.substring(0, i); 
					_ret = true; 
					break; 
				} else if (_lenCount == pLen) { 
					_cutString = pStr.substring(0, i + 1); 
					_ret = true; 
					break; 
				} 
			} 
		};	
		if (!_ret) { 
			_cutString = pStr; 
			_ret = true; 
		};	
		if (_cutString.length == _strLen) { 
			_cutFlag = "0"; 
		};	
		return {"cutstring":_cutString, "cutflag":_cutFlag}; 
	} 
	function isFull(pChar) {  
		if ((pChar.charCodeAt(0) > 128)) { 
			return true; 
		} else { 
			return false; 
		}
	};
	var t_upblock = function() {
		this._constructor();
	};
	t_upblock.prototype._constructor = function() {
		this._data = null;
		this.getData = function() {
			return this._data;
		};
		this.setData = function(value) {
			this._data = value;
			var na = autoAddEllipsis(value.name, 24);
			$("#t_upblock span.uploadname").html(na);
			var size = value.size;
			if (size == undefined || size == null) {
				$("#t_upblock span.uploadsize").html("");
			} else {
				var unit = "";
				if (size <= 1000) {
					unit = "B";
				} else if (size <= 1000 * 1024) {
					size = Math.round(size / 1024);
					unit = "K"
				} else if (size <= 1000 * 1024 * 1024) {
					size = Math.round(size / 1024 / 1024);
					unit = "M";
				} else if (size <= 1000 * 1024 * 1024 * 1024) {
					size = Math.round(size / 1024 / 1024 / 1024);
					unit = "G";
				}
				$("#t_upblock span.uploadsize").html("(" + size + unit + ")");
			}
			this.setPercent(value.percent);
			if (value.preview != undefined) this.setPreviewAction(value.preview);
			if (value.remove != undefined) this.setRemovable(value.remove);
		};
		
		this._removable = true;
		this.getRemovable = function() {
			return this._removable;
		};
		this.setRemovable = function(value) {
			this._removable = value;
			if (value) {
				$("#t_upblock .uploadclose").show();
			} else {
				$("#t_upblock .uploadclose").hide();
			}
		};
		
		this._previewAction = "";
		this.getPreviewAction = function() {
			return this._previewAction;
		};
		this.setPreviewAction = function(value) {
			this._previewAction = value;
		};
		
		this._percent = 0;
		this.getPercent = function() {
			return this._percent;
		};
		this.setPercent = function(value) {
			this._percent = value;
			$("#t_upblock div.uploadprogress div").width(value + '%');
		};
		
		this.showProgress = function() {
			$("#t_uploadprogress").show();
			$("#t_uploadclose").hide();
		}
		this.hideProgress = function() {
			$("#t_uploadprogress").hide();
			$("#t_uploadclose").show();
		};
		
		this._previewFile = function() {
			if (this._previewAction != "" && this._data.id != undefined) {
				window.open(this._previewAction + this._data.id, "_blank");
			};
		};
	};
	
	var t_ = new t_upblock();
</script>
</head>

<body>
	<div id="t_upblock" class="ste_uploadblock" style="width:100%">
    	<table style="width:100%">
        	<colgroup>
            	<col/>
            	<col width="15"/>
            </colgroup>
        	<tr>
            	<td><a href="javascript:t_._previewFile();"><span class="uploadname"></span></a><span class="uploadsize"></span><div id="t_uploadprogress" class="uploadprogress"><div></div></div></td>
                <td><a id="t_uploadclose" class="uploadclose" href="javascript:void(0);"><div></div></a></td>
                <script type="text/javascript">
					t_.setRemovable(t_._removable);
					$("#t_upblock .uploadclose").bind("click", function(e) {
						$(t_).trigger("closeclick", t_);
					});
				</script>
            </tr>
        </table>
    </div>
</body>
</html>
